<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- TITLE BAR -->
	<title>Learn About Python</title>
	<link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.png' %}">

	<!-- META DATA -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Talib Qureshi">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  	<!-- CDN -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Germania+One" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">

  <style type="text/css">
    .community_div{
      background-image: url("{%static 'images/community.jpg' %}");
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    	<a class="navbar-brand" href="#">
    	   <img src="{%static 'images/favicon.png' %}" width="50" height="50" alt="PP"><span class='site_name'>PythonProgrammer</span>
    	</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
        	<ul class="navbar-nav ml-auto">
           		<li class="nav-item">
                	<a class='nav-link' href="{%url 'home' %}"><b>Home</b></a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="{%url 'pythonprogrammer:libraries' %}"><b>Libraries</b></a>
            	</li>
            	{% if user.is_authenticated %}
            		<li class="nav-item dropdown" style="text-decoration:underline; color:white;" >
            			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>{{user}}</b></a>
            			<div class="dropdown-menu  dropdown-menu-right aria-labelledby='navbarDropdown'">
              				<a class="dropdown-item" href="{%url 'pythonprogrammer:profile' %}"><b>Profile</b></a>
              				<div class="dropdown-divider"></div>
              				<a class="dropdown-item" href="{%url 'pythonprogrammer:user_logout' %}"><b>Logout</b></a>
            			</div>
          			</li>
            	{% else %}
            		<li class="nav-item">
                		<a class="nav-link" href="{%url 'pythonprogrammer:signup' %}"><b>Signup</b></a>
            		</li>
            		<li class="nav-item">
                		<a class="nav-link" href="{%url 'pythonprogrammer:user_login' %}"><b>Login</b></a>
            		</li>
            	{% endif %}
          	</ul>
        </div>
    </nav>

	<!-- Main Content -->
	<div class="container slideInUp">
		<div class='row'>
        	<div class="col-lg-12 col-md-12 community_div">
          		<h1 class='community'>!!Welcome in The Python Programmer Community!!</h1>
        	</div>
    	</div>

    	<div class="jumbotron">
			<h2>What is Python?</h2>
			<h5 class="text-muted">Learn about Python, the programming language built for nearly every purpose.</h5>
			<img src="{%static 'images/python.png' %}" class="img-fluid">
			<br>
			<p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales.Van Rossum led the language community until stepping down as leader in July 2018.</p>
			<p>Python features a dynamic type system and automatic memory management. It supports multiple programming paradigms, including object-oriented, imperative, functional and procedural. It also has a comprehensive standard library.</p>
			<p>Python is relatively simple, so it's easy to learn since it requires a unique syntax that focuses on readability. Developers can read and translate Python code much easier than other languages. In turn, this reduces the cost of program maintenance and development because it allows teams to work collaboratively without significant language and experience barriers.</p>
			<p>Additionally, Python supports the use of modules and packages, which means that programs can be designed in a modular style and code can be reused across a variety of projects. Once you've developed a module or package you need, it can be scaled for use in other projects, and it's easy to import or export these modules</p>
			<p>Python interpreters are available for many operating systems. CPython, the reference implementation of Python, is open source software and has a community-based development model, as do nearly all of Python's other implementations. Python and CPython are managed by the non-profit Python Software Foundation.</p>
			<p>That makes Python accessible to almost anyone. If you have the time to learn, you can create some amazing things with the language</p>

			<br>
			<div style='border:0.5px solid black;'></div>
			<br>

			<h2>About Guido van Rossum(Father of Python)</h2>
			<img src="{%static 'images/gvr.png' %}" class="img-fluid">
			<br>
			<br>
			<p>Guido van Rossum is a Dutch Programmer best known as the author of the Python programming language, for which he was the "Benevolent dictator for life" (BDFL) until he stepped down from the position in July 2018.Van Rossum was born and raised in the Netherlands, where he received a master's degree in mathematics and computer science from the University of Amsterdam in 1982. He has a brother, Just van Rossum, who is a type designer and programmer who designed the typeface used in the "Python Powered" logo.In December 1989, Van Rossum had been looking for a programming project that would keep him occupied during the week around Christmas as his office was closed when he decided to write an interpreter for a new scripting language had been thinking about lately: a descendant of ABC that would appeal to Unix/C hackers.He has explained that Python's predecessor, ABC, was inspired by SETL, noting that ABC co-developer Lambert Meertens had spent a year with the SETL group at NYU before coming up with the final ABC design.</p>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>Features of Python</h2>
			<img src="{%static 'images/features.jpg' %}" class="img-fluid">
			<br><br>
			<h5>1. Simple & Easy</h5>
			<p>Being a high-level language, Python code is quite like English.Looking at it, you can tell what the code is supposed to do. Also, since it is dynamically-typed, it mandates indentation. This aids readability.Python code is easy to read and maintained. It is easily reusable as well wherever it is required. Python’s having simple syntax, which allows the different concepts to develop without writing any additional code. The code should be of good quality and easy to maintain the source code and simplify the maintenance, which is required to develop the software application. It also emphasizes code readability, which is the great feature, unlike other programming languages. It helps in building custom applications and clean code helps in maintaining and updating the software applications without putting extra effort on the same code</p>
			<h5>2. Expressive</h5>
			<p>First, let’s learn about expressiveness. Suppose we have two languages A and B, and all programs that can be made in A can be made in B using local transformations. However, there are some programs that can be made in B, but not in A, using local transformations. Then, B is said to be more expressive than A. Python provides us with a myriad of constructs that help us focus on the solution rather than on the syntax. This is one of the outstanding python features that tells you why you should learn Python.</p>
			<h5>3. High Level</h5>
			<p>Python is a multi-paradigm High level programming language.As we discussed in point 2b, it is a high-level language. This means that as programmers, we don’t need to remember the system architecture. Nor do we need to manage the memory. This makes it more programmer-friendly and is 1 of the key python features.Any doubt yet in the features of Python.Object-oriented programming and structured programming are fully supported, and many of its features support functional programming and aspect-oriented programming (including by metaprogramming and metaobjects (magic methods)).Many other paradigms are supported via extensions, including design by contract and logic programming.</p>
			<h5>4. Large Standard Library</h5>
			<p>Python has a large and robust standard library to use for developing the applications. It also makes the developers use Python over other languages. The standard library helps in using the different range of modules available for Python. As this module helps you in adding the functionality without writing any more code. To get the information about various modules, documentation on python standard library can be referred. While developing any web application, implementing web services, performing string operations and other usages like interface protocol, the standard library documentation helps.</p>
			<h5>5. Interpreted</h5>
			<p>If you’re any familiar with languages like C++ or Java, you must first compile it, and then run it. But in Python, there is no need to compile it. Internally, its source code is converted into an immediate form called bytecode. So, all you need to do is to run your Python code without worrying about linking to libraries, and a few other things.By interpreted, we mean the source code is executed line by line, and not all at once. Because of this, it is easier to debug your code. Also, interpreting makes it just slightly slower than Java, but that does not matter compared to the benefits it has to offer.Any doubt or query yet about the features of python programming language? If yes, Drop a comment and we will get back to you.</p>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>History of Python</h2>
			<img src="{%static 'images/history.jpg' %}" class="img-fluid">
			<br><br>
			<p><span style="font-weight: 700;">Python</span> is a widely used general-purpose, high-level programming language. It was initially designed by Guido van Rossum in 1991 and developed by Python Software Foundation. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code.</p>
			<h6 style="font-weight: 700;">Lets dig it deeper</h6>
			<p>In the late 1980s, history was about to be written. It was that time when working on Python started. Soon after that, Guido Van Rossum began doing its application based work in December of 1989 by at Centrum Wiskunde & Informatica (CWI) which is situated in Netherland. It was started firstly as a hobby project because he was looking for an interesting project to keep him occupied during Christmas. The programming language which Python is said to have succeeded is ABC Programming Language, which had the interfacing with the Amoeba Operating System and had the feature of exception handling. He had already helped to create ABC earlier in his career and he had seen some issues with ABC but liked most of the features. After that what he did as really very clever. He had taken the syntax of ABC, and some of its good features. It came with a lot of complaints too, so he fixed those issues completely and had created a good scripting language which had removed all the flaws. The inspiration for the name came from BBC’s TV Show – ‘Monty Python’s Flying Circus’, as he was a big fan of the TV show and also he wanted a short, unique and slightly mysterious name for his invention and hence he named it Python! He was the “Benevolent dictator for life” (BDFL) until he stepped down from the position as the leader on 12th July 2018. For quite some time he used to work for Google, but currently, he is working at Dropbox.</p>
			<p>The language was finally released in 1991. When it was released, it used a lot fewer codes to express the concepts, when we compare it with Java, C++ & C. Its design philosophy was quite good too. Its main objective is to provide code readability and advanced developer productivity. When it was released it had more than enough capability to provide classes with inheritance, several core data types exception handling and functions.</p>
			<p>Python has come a long way to become the most popular coding language in the world. Python has just turned 30, but it still has that unknown charm & X factor which can be clearly seen from the fact that Google users have consistently searched for Python much more than they have searched for Kim Kardashian, Donald Trump, Tom Cruise etc.</p>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>Applications of Python</h2>
			<br>
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  				<div class="carousel-inner">
    				<div class="carousel-item active" data-interval='2000'>
      					<img src="{%static 'images/application1.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
    				</div>
    				<div class="carousel-item" data-interval='2000'>
      					<img src="{%static 'images/application2.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
    				</div>
    				<div class="carousel-item" data-interval='2000'>
      					<img src="{%static 'images/application3.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
    				</div>
    				<div class="carousel-item" data-interval='2000'>
      					<img src="{%static 'images/application4.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
    				</div>
    				<div class="carousel-item" data-interval='2000'>
      					<img src="{%static 'images/application5.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
    				</div>
    				<div class="carousel-item" data-interval='2000'>
      					<img src="{%static 'images/application6.jpg' %}" class="d-block w-100" alt="..." style="height: 500px;">
    				</div>
  				</div>
  			</div>
			<br><br>
			<h5>1. Data Science</h5>
			<p>You will start by learning Python, the most popular language for Data Science. You will then develop skills for Data Analysis and Data Visualization and also get a practical introduction in Machine Learning. Finally you will apply and demonstrate your knowledge of Data Science and Machine Learning with a Capstone Project involving a real life business problem.Taught by experts, the focus in this program is on hands-on learning and job readiness. As such you will work with real datasets and will be given no-charge access to tools like Jupyter notebooks in the IBM Cloud. You will utilize popular Python toolkits and libraries such as pandas, numpy, matplotlib, seaborn, folium, scipy, scikitlearn, etc.Start developing data and analytical skills today and launch your career in Data Science, whether you are new to the job market or already in the workforce and looking to upskill yourself. No prior computer programming experience required.</p>
			<h5>2. GUI-Based Desktop Applications</h5>
			<p>Python has simple syntax, modular architecture, rich text processing tools and the ability to work on multiple operating systems which make it a desirable choice for developing desktop-based applications. There are various GUI toolkits like wxPython, PyQt or PyGtk available which help developers create highly functional Graphical User Interface (GUI).Python has been used to make 2D imaging software such as Inkscape, GIMP, Paint Shop Pro and Scribus. Further, 3D animation packages, like Blender, 3ds Max, Cinema 4D, Houdini, Lightwave and Maya, also use Python in variable proportions.</p>
			<h5>3. Web Frameworks and Web Applications</h5>
			<p>Python has been used to create a variety of web-frameworks including CherryPy, Django, TurboGears, Bottle, Flask etc. These frameworks provide standard libraries and modules which simplify tasks related to content management, interaction with database and interfacing with different internet protocols such as HTTP, SMTP, XML-RPC, FTP and POP. Plone, a content management system; ERP5, an open source ERP which is used in aerospace, apparel and banking; Odoo – a consolidated suite of business applications; and Google App engine are a few of the popular web applications based on Python.</p>
			<h5>4. Enterprise and Business Applications</h5>
			<p>With features that include special libraries, extensibility, scalability and easily readable syntax, Python is a suitable coding language for customizing larger applications. Reddit, which was originally written in Common Lips, was rewritten in Python in 2005. Python also contributed in a large part to functionality in YouTube.ython is often an integral part of Linux distributions. For instance, Ubuntu’s Ubiquity Installer, and Fedora’s and Red Hat Enterprise Linux’s Anaconda Installer are written in Python. Gentoo Linux makes use of Python for Portage, its package management system.</p>
			<h5>5. Prototyping</h5>
			<p>Besides being quick and easy to learn, Python also has the open source advantage of being free with the support of a large community. This makes it the preferred choice for prototype development. Further, the agility, extensibility and scalability and ease of refactoring code associated with Python allow faster development from initial prototype.Since its origin in 1989, Python has grown to become part of a plethora of web-based, desktop-based, graphic design, scientific, and computational applications. With Python available for Windows, Mac OS X and Linux / UNIX, it offers ease of development for enterprises. Additionally, the latest release Python 3.4.3 builds on the existing strengths of the language, with drastic improvement in Unicode support, among other new features.</p>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

      <h2 class="text-center">Reviews</h2>
      <br>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item">
            <div class='row'>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%">
                  <img src="{%static 'images/leo.jpg' %}" class="card-img-top" alt="Leonardo DiCaprio">
                  <div class="card-body">
                    <h5 class="card-title">Leonardo</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/srk.jpg' %}" class="card-img-top" alt="Shahrukh Khan">
                  <div class="card-body">
                    <h5 class="card-title">Shahrukh Khan</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    5 days ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/rk.jpg' %}" class="card-img-top" alt="Ranbir Kapoor">
                  <div class="card-body">
                    <h5 class="card-title">Ranbir Kapoor</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 Weeks ago
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class='row'>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/brad.jpg' %}" class="card-img-top" alt="Leonardo DiCaprio">
                  <div class="card-body">
                    <h5 class="card-title">Brad Pitt</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 Weeks ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/bale.jpg' %}" class="card-img-top" alt="Shahrukh Khan">
                  <div class="card-body">
                    <h5 class="card-title">Christian Bale</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    3 Weeks ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/jonah.jpg' %}" class="card-img-top" alt="Ranbir Kapoor">
                  <div class="card-body">
                    <h5 class="card-title">Jonah Hill</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 Weeks ago
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item active">
            <div class='row'>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%">
                  <img src="{%static 'images/aa.jpg' %}" class="card-img-top" alt="Leonardo DiCaprio">
                  <div class="card-body">
                    <h5 class="card-title">Allu Arjun</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    15 Hours ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/cr7.jpg' %}" class="card-img-top" alt="Shahrukh Khan">
                  <div class="card-body">
                    <h5 class="card-title">Cristiano</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    1 day ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/ashton.jpg' %}" class="card-img-top" alt="Ranbir Kapoor">
                  <div class="card-body">
                    <h5 class="card-title">Ashton Kutcher</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    1 day ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

			<br>
			<div style='border:0.8px solid black'></div>
			<br>

      {% if user.is_authenticated %}
        <div class='row' style='text-align: center;'>
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h2>Comments</h2>
            <form action="#" method="post">
              <textarea name='comments' placeholder="your thoughts about it..." id='textarea'></textarea>
              <br>
              <button class='btn btn-info navbtn'><b>Submit</b></button>
            </form>
          </div>
        </div>
      {% endif %}
		</div>
  </div>

   <!-- Footer -->
<div class="container-fluid footer">
  <div class="row">
    <div class='col-lg-6 col-md-6'>
      <h4 style='text-shadow: 2px 2px #233237; text-align:center; margin-top: 3px;'>Contact Us</h4>
      <div class="social_icon">
        <a href="#" title="Facebook" class='icons'><i class='fa fa-facebook'></i></a>
        <a href="#" title="Instagram" class='icons'><i class='fa fa-instagram'></i></a>
        <a href="#" title="WhatsApp" class='icons'><i class='fa fa-whatsapp'></i></a>
        <a href="#" title="Twitter" class='icons'><i class='fa fa-twitter'></i></a>
        <a href="#" title='Google' class='icons'><i class='fa fa-google'></i></a>
      </div><br>
      <div class='contact_info'>
        <h6><i class="fa fa-map"></i> Address -<span style="font-weight: 300;"> 10 Satya Sai Colony Nahar Sayyad Road Mandsaur M.P 458001</span></h6>
        <h6><i class="fa fa-phone"></i> Mobile -<span style="font-weight: 300;"> 07987051968</span></h6>
        <h6><i class="fa fa-envelope"></i> Email -<span style="font-weight: 300;"> talibhqureshi@gmail.com</span></h6>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <form class="form-inline footer_search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0 navbtn" type="submit" id='search_btn'><b>Search</b></button>
      </form>
    </div>
  </div>
    <br>
    <div style='text-align: center; font-size: 14px; font-weight: 400;'>&copy Powered By PythonProgrammer.com</div>
</div>


</body>
</html>
