<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  	<!-- TITLE BAR -->
  	<title>PythonProgrammer</title>
  	<link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.png' %}">

  	<!-- META DATA -->
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="author" content="Talib Qureshi">

  	<!-- Bootstrap -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CDN -->
  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Bitter|Germania+One" rel="stylesheet">
  	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <!-- CSS -->
  	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">

    <style type="text/css">
      .community_div{
        background-image: url("{%static 'images/community.jpg' %}");
      }
  </style>

  </head>

<body>

  <!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
      <a class="navbar-brand" href="#">
        <img src="{%static 'images/favicon.png' %}" width="50" height="50" alt="PP"><span class='site_name'>PythonProgrammer</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class='nav-link' href='#'><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:libraries' %}"><b>Libraries</b></a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item dropdown" style="text-decoration:underline; color:white; background-color: ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>{{user}}</b></a>
                <div class="dropdown-menu  dropdown-menu-right aria-labelledby='navbarDropdown'">
                  <a class="dropdown-item" href="{%url 'pythonprogrammer:profile' %}"><b>Profile</b></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{%url 'pythonprogrammer:user_logout' %}"><b>Logout</b></a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:signup' %}"><b>Signup</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:user_login' %}"><b>Login</b></a>
              </li>
            {% endif %}
          </ul>
        </div>
  </nav>

  <!-- main content -->
  <div class="container animated slideInUp">
    <div class='row'>
        <div class="col-lg-12 col-md-12 community_div">
          <h1 class='community'>!!Welcome in The Python Programmer Community!!</h1>
        </div>
    </div>

    <div class="jumbotron">

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h2>What is Python?</h2>
          <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace...</p>
          <a class="btn btn-info navbtn" href="{%url 'pythonprogrammer:details' %}" role="button">Learn more</a>
        </div>
        <div class="col-lg-6 col-md-6 top_card">
          <h2>About GVR</h2>
          <p>Guido van Rossum is a Dutch programmer best known as the author of the Python programming language, for which he was the "Benevolent dictator for life" (BDFL) until he stepped down from the position in July 2018.Van Rossum was born and raised...</p>
          <a class="btn btn-primary navbtn" href="{%url 'pythonprogrammer:details' %}" role="button">Learn more</a>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h2>Features of Python</h2>
          <p>Python is a multi-paradigm programming language. Object-oriented programming and structured programming are fully supported, and many of its features support functional programming and aspect-oriented programming...</p>
          <a class="btn btn-success navbtn" href="{%url 'pythonprogrammer:details' %}" role="button">Learn more</a>
        </div>
        <br>
        <div class="col-lg-6 col-md-6 top_card">
          <h2>History of Python</h2>
          <p>Python laid its foundation in the late 1980.The implementation of Python was started in the December 1989 by Guido Van Rossum at CWI in Netherland.ABC programming language is said to be the predecessor of Python language...</p>
          <a class="btn btn-warning navbtn" href="{%url 'pythonprogrammer:details' %}" role="button">Learn more</a>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <h2 class="text-center">Why The Name Python?</h2>
      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img src="{%static 'images/monty.jpg' %}" class="monty_img">
        </div>
        <div class="col-lg-6 col-md-6">
          <p style="font-weight: 450;">At the time when he began implementing Python, Guido van Rossum was also reading the published scripts from "Monty Python's Flying Circus" (a BBC comedy series from the seventies, in the unlikely case you didn't know). It occurred to him that he needed a name that was short, unique, and slightly mysterious, so he decided to call the language Python.<br>Python is not named after the snake; rather, its creator, van Rossum, named it after the BBC comedy troupe Monty Python, of whom he is a huge fan.<br>As a result, Monty Python references abound in the language. The traditional “foo” and “bar” used to illustrate code in other programs become “spam” and “eggs” in Python examples.Even the built-in interpreter, IDLE or the terminal, is named after M.P. member Eric Idle.
          </p>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <h2 class="text-center">Appication of Python</h2>
      <br>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <img src="{%static 'images/pic1.jpg' %}" class="rounded" style='width: 100%; height: 250px;'>
          <p class="text-center" style="font-weight: 650;">Data Science</p>
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="{%static 'images/pic2.jpg' %}" class="rounded" style='width: 100%; height: 250px;'>
          <p class="text-center" style="font-weight: 650;">Web Development</p>
        </div>
        <div class="col-lg-4 col-md-4">
          <img src="{%static 'images/pic3.jpg' %}" class="rounded" style='width: 100%; height: 250px;'>
          <p class="text-center" style="font-weight: 650;">Gui Development</p>
        </div>
      </div>
      <br>
      <a class="btn btn-danger btn-block navbtn" href="{%url 'pythonprogrammer:details' %}" role="button">Learn more</a>

      <br>
      <hr>
      <br>

      <h2 class="text-center">Python Versions</h2>
      <br>
      <img src="{%static 'images/version.jpg' %}" class="img-fluid">

      <br>
      <hr>
      <br>

      <h2 class="text-center">Python2 vs Python3</h2>
      <br>
      <h5>1. Division Operator</h5>
      <p>If we are porting our code or executing the python 3.x code in python 2.x, it can be dangerous if integer division changes go unnoticed (since it doesn’t raise any error). It is preferred to use the floating value (like 7.0/5 or 7/5.0) to get the expected result when porting our code</p>
      <div class="run_code">
        <span class="ide">print</span><span style="padding-left: 12px;">7 / 5</span><br>
        <span class="ide">Output in Python2:</span><br>1<br>
        <span class="ide">Output in Python3:</span><br>1.4
      </div>
      <br>
      <h5>2. Print Function</h5>
      <p>This is the most well known change. In this the print function in Python 2.x is replaced by print() function in Python 3.x,i.e, to print in Python 3.x an extra pair of parenthesis is required</p>
      <div class="run_code">
        <span class="ide">in Python2:</span><br>print 'Hello PythonProgrammer'<br>
        <span class="ide">in Python3:</span><br>print ('Hello PythonProgrammer')<br>
      </div>
      <br>
      <h5>3. xrange</h5>
      <p>xrange() of Python 2.x doesn’t exist in Python 3.x. In Python 2.x, range returns a list i.e. range(3) returns [0, 1, 2] while xrange returns a xrange object i. e., xrange(3) returns iterator object which work similar to Java iterator and generates number when needed.
      If we need to iterate over the same sequence multiple times, we prefer range() as range provides a static list. xrange() reconstructs the sequence every time. xrange() doesn’t support slices and other list methods. The advantage of xrange() is, it saves memory when task is to iterate over a large range.<br>
      In Python 3.x, the range function now does what xrange does in Python 2.x, so to keep our code portable, we might want to stick to using range instead. So Python 3.x’s range function is xrange from Python 2.x
      </p>
      <div class="run_code">
        <span style="color: blue; font-weight: 600;">for</span> x <span style="color: blue; font-weight: 600;">in</span> <span class="ide">xrange</span>(1,5):
        <br>
        <span style="color: blue; font-weight: 600;">for</span> x <span style="color: blue; font-weight: 600;">in</span> <span class="ide">range</span>(1,5):
        <br><br>
        <span class="ide">Output in Python2:</span><br>1 2 3 4 1 2 3 4<br>
        <span class="ide">Output in Python3:</span><br>"NameError: name 'xrange' is not defined"
      </div>
      <br>
      <h5>4. Error Handling</h5>
      <p>There is a small change in error handling in both versions. In python 3.x, ‘as’ keyword is required.</p>
      <div class="run_code">
        <span style="color: blue; font-weight: 600;">try</span> :<br>
        <span style="padding-left: 20px;">trying_to_check_error</span><br>
        <span style="color: blue; font-weight: 600;">except</span> NameError, err :<br>
        <span style="padding-left: 20px;"><span class="ide">print</span> err, 'Error Caused'</span><br><br>
        <span class="ide">Output in Python2:</span><br>name 'trying_to_check_error' is not defined Error Caused<br>
        <span class="ide">Output in Python3:</span><br>SyntaxError: invalid syntax
      </div>

      <br>
      <hr>
      <br>

      <h2 class="text-center">How To Install Python</h2>
      <br>
      <div class='accor_div'>
        <span style='color:#1A1A1D; font-size: 20px; float: left; padding-left: 15px;'><b>Install Python On Windows </b></span><span class='fa fa-chevron-down' id='accor_btn1'></span>
      </div>

      <ol id='para1'>
        <li>
          Go to <a href="https://www.python.org/downloads/"><span class='accor_link'>Download Python</span></a> page on the official site and click Download <span style='color:#FF3B3F'>Python 3.6.0</span> (You may see different version name).
        </li><br>
        <li>When the download is completed, double-click the file and follow the instructions to install it.When Python is installed, a program called    IDLE is also installed along with it. It provides graphical user interface to work with Python.
        </li><br>
        <li>
          Open IDLE, copy the following code below and press enter<br>
          <div class="accor_sub">
            print("Hello, World!")
          </div>
        </li><br>
        <li>
          To create a file in IDLE,>go to File > New Window <span style='color:#FF3B3F'>(Shortcut: Ctrl+N).</span>
        </li><br>
        <li>
          Write Python code (you can copy the code below for now) and save <span style='color:#FF3B3F'>(Shortcut: Ctrl+S)</span> with .py file extension like: hello.py or your-first-program.py<br>
          <div class='accor_sub'>
            print("Hello, World!")
          </div>
        </li><br>

        <li>
          Go to Run > Run module <span style='color:#FF3B3F'>(Shortcut: F5)</span> and you can see the output.  <span style='color:#FF3B3F'>Congratulatios</span>, you've successfully run your first Python program.
        </li><br>
      </ol>

      <div class='accor_div'>
        <span style='color:#1A1A1D; font-size: 20px; float: left; padding-left: 15px;'><b>Install Python On Mac OS</b></span><span class='fa fa-chevron-down' id='accor_btn2'></span>
      </div>

      <ol id='para2'>
        <li>
          Go to <a href="httpsa://www.python.org/downloads/"><span class='accor_link'>Download Python</span></a> page on the official site and click  Download <span style='color:#FF3B3F'>Python 3.6.0</span> (You may see different version name).
        </li><br>
        <li>
          When the download is complete, open the package and follow the instructions. You will see "The installation was successful" message When Python is successfully installed.
        </li><br>
        <li>
          It's recommended to download a good text editor before you get started. If you are a beginner, I suggest you to download <a href='https://www.sublimetext.com' class='accor_link'>Sublime Text</a>. It's free.
        </li><br>
        <li>
          The installation process is straight forward. Run the Sublime Text Disk Image file you downloaded and follow the instructions.
        </li><br>
        <li>
          Open Sublime Text and go to File > New File <span style='color:#FF3B3F'>(Shortcut: Cmd+N)</span>. Then, save <span style='color:#FF3B3F'>(Cmd+S or File > Save)</span> the file with .py extension like: hello.py or first-program.py
        </li><br>
        <li>
          Write the code and save it again. For starters, you can copy the code below:<br>
          <div class='accor_sub'>
            print("Hello, World!")
          </div>
        </li><br>
        <li>
          Go to Tool > Build <span style='color:#FF3B3F'>(Shortcut: Cmd + B)</span>. You will see the output at the bottom of Sublime Text.<span style='color:#FF3B3F'>Congratulations</span>, you've successfully run your first Python program.
        </li><br>
      </ol>

      <div class='accor_div'>
        <span style='color:#1A1A1D; font-size: 20px; float: left; padding-left: 15px;'><b>Install Python On Linux</b></span><span class='fa fa-chevron-down' id='accor_btn3'></span>
      </div>

      <ol id='para3'>
        <li>Install the following dependencies:<br>
          <div class='accor_sub'>
            ~$ sudo apt-get install build-essential checkinstall<br>
            ~$ sudo apt-get install libreadline-gplv2-dev libncursesw5-dev libssl-dev libsqlite3-dev tk-dev libgdbm-dev libc6-dev libbz2-dev
          </div>
        </li><br>
        <li>Go to <a href="httpsa://www.python.org/downloads/"><span class='accor_link'>Download Python</span></a> page on the official site and click Download <span style='color:#FF3B3F'>Python 3.6.0</span> (You may see different version name).</li><br>
        <li>In the terminal, go to the directory where the file is downloaded and run the command:<br>
          <div class="accor_sub">
            ~$ tar -xvf Python-3.6.0.tgz
          </div><br>
          This will extract your zipped file. <span style='color:#FF3B3F'>Note:</span> The filename will be different if you've downloaded a different version. Use the appropriate filename.
        </li><br>
        <li>Go to the extracted directory.<br>
          <div class="accor_sub">
            ~$ cd Python-3.6.0
          </div>
        </li><br>
        <li>
          Issue the following commands to compile Python source code on your Operating system.
          <div class="accor_sub">
            ~$ ./configure<br>
            ~$ make<br>
            ~$ make install
          </div>
        </li><br>
        <li>
          We recommend you to install Sublime Text if you are a newbie. To install Sublime Text in Ubuntu (on 14.04). Issue following commands.
          <div class='accor_sub'>
            ~$ sudo add-apt-repository -y ppa:webupd8team/sublime-text-2<br>
            ~$ sudo apt-get update<br>
            ~$ sudo apt-get install sublime-text
          </div>
        </li><br>
        <li>
          Open Sublime text. To create a new file, go to File > New File <span style='color:#FF3B3F'>(Shortcut: Ctrl+N)</span>.
        </li><br>
        <li>
          Save the file with .py file extension like: hello.py or first-program.py
        </li><br>
        <li>
          Write the code and save it <span style='color:#FF3B3F'>(Ctrl+S or File > Save)</span>. For starters, you can copy the code below:<BR>
          <div class="accor_sub">
            print("Hello, World!")
          </div><br>
          This simple program outputs "Hello, World!"
        </li><br>
        <li>
          Go to Tool > Build <span style='color:#FF3B3F'>(Shortcut: Ctrl+B)</span>. You will see the output at the bottom of Sublime Text. <span style='color:#FF3B3F'>Congratulations</span>, you've successfully run your first Python program.
        </li><br>
      </ol>

      <br>
      <hr>
      <br>

      <h2 class="text-center">Reviews</h2>
      <br>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item">
            <div class='row'>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%">
                  <img src="{%static 'images/leo.jpg' %}" class="card-img-top" alt="Leonardo DiCaprio">
                  <div class="card-body">
                    <h5 class="card-title">Leonardo</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 days ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/srk.jpg' %}" class="card-img-top" alt="Shahrukh Khan">
                  <div class="card-body">
                    <h5 class="card-title">Shahrukh Khan</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    5 days ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/rk.jpg' %}" class="card-img-top" alt="Ranbir Kapoor">
                  <div class="card-body">
                    <h5 class="card-title">Ranbir Kapoor</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 Weeks ago
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class='row'>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/brad.jpg' %}" class="card-img-top" alt="Leonardo DiCaprio">
                  <div class="card-body">
                    <h5 class="card-title">Brad Pitt</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 Weeks ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/bale.jpg' %}" class="card-img-top" alt="Shahrukh Khan">
                  <div class="card-body">
                    <h5 class="card-title">Christian Bale</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    3 Weeks ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/jonah.jpg' %}" class="card-img-top" alt="Ranbir Kapoor">
                  <div class="card-body">
                    <h5 class="card-title">Jonah Hill</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    2 Weeks ago
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item active">
            <div class='row'>
              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%">
                  <img src="{%static 'images/aa.jpg' %}" class="card-img-top" alt="Leonardo DiCaprio">
                  <div class="card-body">
                    <h5 class="card-title">Allu Arjun</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    15 Hours ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/cr7.jpg' %}" class="card-img-top" alt="Shahrukh Khan">
                  <div class="card-body">
                    <h5 class="card-title">Cristiano</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    1 day ago
                  </div>
                </div>
              </div>

              <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
                <div class="card" style="width: 100%;">
                  <img src="{%static 'images/ashton.jpg' %}" class="card-img-top" alt="Ranbir Kapoor">
                  <div class="card-body">
                    <h5 class="card-title">Ashton Kutcher</h5>
                    <span class="card-text">i love this website great content about python.</span>
                  </div>
                  <div class="card-footer text-muted">
                    1 day ago
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br>
      <hr>
      <br>

      {% if user.is_authenticated %}
        <div class='row' style='text-align: center;'>
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h2>Comments</h2>
            <form method="post">
              <textarea name='comments' placeholder="your thoughts about it..." id='textarea'></textarea>
              <br>
              <a class='btn btn-info navbtn' style="color: white;"><b>Submit</b></a>
            </form>
          </div>
        </div>
      {% endif %}
  </div>
</div>

<!-- Footer -->
<div class="container-fluid footer">
  <div class="row">
    <div class='col-lg-6 col-md-6'>
      <h4 style='text-shadow: 2px 2px #233237; text-align:center; margin-top: 3px;'>Contact Us</h4>
      <div class="social_icon">
        <a href="#" title="Facebook" class='icons'><i class='fa fa-facebook'></i></a>
        <a href="#" title="Instagram" class='icons'><i class='fa fa-instagram'></i></a>
        <a href="#" title="WhatsApp" class='icons'><i class='fa fa-whatsapp'></i></a>
        <a href="#" title="Twitter" class='icons'><i class='fa fa-twitter'></i></a>
        <a href="#" title='Google' class='icons'><i class='fa fa-google'></i></a>
      </div><br>
      <div class='contact_info'>
        <h6><i class="fa fa-map"></i> Address -<span style="font-weight: 300;"> 10 Satya Sai Colony Nahar Sayyad Road Mandsaur M.P 458001</span></h6>
        <h6><i class="fa fa-phone"></i> Mobile -<span style="font-weight: 300;"> 07987051968</span></h6>
        <h6><i class="fa fa-envelope"></i> Email -<span style="font-weight: 300;"> talibhqureshi@gmail.com</span></h6>
          </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <form class="form-inline footer_search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0 navbtn" type="submit" id='search_btn'><b>Search</b></button>
        </form>
      </div>
    </div>
    <br>
    <div style='text-align: center; font-size: 14px; font-weight: 400;'>&copy Powered By PythonProgrammer.com</div>
  </div>
</div>

  <script>
    $('#para1').hide()
    $('#para2').hide()
    $('#para3').hide()

    $('#accor_btn1').click(function(){
      if ($(this).hasClass('fa-chevron-down')){
        $(this).removeClass('fa-chevron-down')
        $(this).addClass('fa-chevron-up')
      }else{
        $(this).removeClass('fa-chevron-up')
        $(this).addClass('fa-chevron-down')
      }
      $('#para1').slideToggle()

      $('#para2').slideUp()
        if ($('#accor_btn2').hasClass('fa-chevron-up')){
          $('#accor_btn2').removeClass('fa-chevron-up')
          $('#accor_btn2').addClass('fa-chevron-down')
        }
        $('#para3').slideUp()
        if ($('#accor_btn3').hasClass('fa-chevron-up')){
          $('#accor_btn3').removeClass('fa-chevron-up')
          $('#accor_btn3').addClass('fa-chevron-down')
        }
    })

    $('#accor_btn2').click(function(){
      if ($(this).hasClass('fa-chevron-down')){
        $(this).removeClass('fa-chevron-down')
        $(this).addClass('fa-chevron-up')
      }else{
        $(this).removeClass('fa-chevron-up')
        $(this).addClass('fa-chevron-down')
      }
      $('#para2').slideToggle()
      $('#para1').slideUp()
      if ($('#accor_btn1').hasClass('fa-chevron-up')){
        $('#accor_btn1').removeClass('fa-chevron-up')
        $('#accor_btn1').addClass('fa-chevron-down')
      }
      $('#para3').slideUp()
      if ($('#accor_btn3').hasClass('fa-chevron-up')){
        $('#accor_btn3').removeClass('fa-chevron-up')
        $('#accor_btn3').addClass('fa-chevron-down')
      }
    })

    $('#accor_btn3').click(function(){
      if ($(this).hasClass('fa-chevron-down')){
        $(this).removeClass('fa-chevron-down')
        $(this).addClass('fa-chevron-up')
      }else{
        $(this).removeClass('fa-chevron-up')
        $(this).addClass('fa-chevron-down')
      }
      $('#para3').slideToggle()
      $('#para1').slideUp()
      if ($('#accor_btn1').hasClass('fa-chevron-up')){
        $('#accor_btn1').removeClass('fa-chevron-up')
        $('#accor_btn1').addClass('fa-chevron-down')
      }
      $('#para2').slideUp()
      if ($('#accor_btn2').hasClass('fa-chevron-up')){
        $('#accor_btn2').removeClass('fa-chevron-up')
        $('#accor_btn2').addClass('fa-chevron-down')
      }
    })
  </script>

</body>
</html>
