<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- TITLE BAR -->
	<title>Top 10 Python Libraries</title>
	<link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.png' %}">

	<!-- META DATA -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Talib Qureshi">

	<!-- Bootstarp -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="  sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- CDN -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Germania+One" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">

	<style type="text/css">
    .community_div{
      background-image: url("{%static 'images/community.jpg' %}");
    }
  </style>
</head>

<body class="animated slideInUp">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
       <img src="{%static 'images/favicon.png' %}" width="50" height="50" alt="PP"><span class='site_name'>PythonProgrammer</span>
    </a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class='nav-link' href="{%url 'home' %}"><b>Home</b></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><b>Libraries</b></a>
          </li>
          {% if user.is_authenticated %}
				      <li class="nav-item dropdown" style="text-decoration:underline; color:white;" >
            		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>{{user}}</b></a>
            		<div class="dropdown-menu  dropdown-menu-right aria-labelledby='navbarDropdown'">
              			<a class="dropdown-item" href="{%url 'pythonprogrammer:profile' %}"><b>Profile</b></a>
              	    <div class="dropdown-divider"></div>
              			<a class="dropdown-item" href="{%url 'pythonprogrammer:user_logout' %}"><b>Logout</b></a>
            		</div>
          		</li>
        	{% else %}
          		<li class="nav-item">
            		<a class="nav-link" href="{%url 'pythonprogrammer:signup' %}"><b>Signup</b></a>
          		</li>
          		<li class="nav-item">
            		<a class="nav-link" href="{%url 'pythonprogrammer:user_login' %}"><b>Login</b></a>
          		</li>
        	{% endif %}
          </ul>
        </div>
	</nav>

	<!-- Main Content -->
	<div class="container">
		<div class='row'>
        	<div class="col-lg-12 col-md-12 community_div">
          		<h1 class='community'>!!Welcome in The Python Programmer Community!!</h1>
        	</div>
    	</div>

		<div class='jumbotron'>
			<h1>Top 10 Must Learn Python Libraries</h1>
			<hr>
			<br>

			<h2>1.TensorFlow</h2><br>
			<img src="{%static 'images/tensorflow.png' %}" style='width: 100%; height: 100%'>
			<br>
			<br>
			<br>
			<h4>What is TensorFlow?</h4>
				<ul>
					<li>If you are currently working on a machine learning project in Python, then you may have heard about this popular open source library known as TensorFlow.</li>
					<li>This library was developed by Google in collaboration with Brain Team. TensorFlow is used in almost every Google application for machine learning.</li>
					<li>TensorFlow works like a computational library for writing new algorithms that involve a large number of tensor operations, since neural networks can be easily expressed as computational graphs they can be implemented using TensorFlow as a series of operations on Tensors. Plus, tensors are N-dimensional matrices which represent your data.</li>
				</ul>
			<br>
			<h4>Features of TensorFlow</h4>
			<ul>
				<li><b>Responsive Construct :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					With TensorFlow, we can easily visualize each and every part of the graph which is not an option while using Numpy or SciKit.
				</p>
				<li><b>Flexible :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					One of the very important Tensorflow Features is that it is flexible in its operability, meaning it has modularity and the parts of it which you want to make standalone, it offers you that option.
				</p>
				<li><b>Large Community :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Needless to say, if it has been developed by Google, there already is a large team of software engineers who work on stability improvements continuously.
				</p>
			</ul>
			<br>
			<h4>Where Is TensorFlow Used?</h4>
			<ul>
				<li>You are using TensorFlow daily but indirectly with applications like Google Voice Search or Google Photos. These applications are developed using this library.</li>
				<li>All the libraries created in TensorFlow are written in C and C++. However, it has a complicated front-end for Python. Your Python code will get compiled and then executed on TensorFlow distributed execution engine built using C and C++.</li>
				<li>The number of applications of TensorFlow is literally unlimited and that is the beauty of TensorFlow.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>2.Scikit-Learn</h2><br>
			<img src="{%static 'images/scikit-learn.png' %}" style='width: 100%; height: 200px;'>
			<br>
			<br>
			<br>
			<h4>What is Scikit-Learn ?</h4>
			<ul>
				<li>It is a Python library is associated with NumPy and SciPy. It is considered as one of the best libraries for working with complex data.</li>
				<li>There are a lot of changes being made in this library. One modification is the cross-validation feature, providing the ability to use more than one metric. Lots of training methods like logistics regression and nearest neighbors have received some little improvements.</li>
			</ul>
			<br>
			<h4>Features of Scikit-Learn</h4>
			<ul>
				<li><b>Cross-validation :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					There are various methods to check the accuracy of supervised models on unseen data.
				</p>
				<li><b>Unsupervised learning algorithms :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Again there is a large spread of algorithms in the offering – starting from clustering, factor analysis, principal component analysis to unsupervised neural networks.
				</p>
				<li><b>Feature extraction :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Useful for extracting features from images and text (e.g. Bag of words)
				</p>
			</ul>
			<br>
			<h4>Where Is Scikit-Learn Used?</h4>
			<ul>
				<li>It contains a numerous number of algorithms for implementing standard machine learning and data mining tasks like reducing dimensionality, classification, regression, clustering, and model selection.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>3.Numpy</h2><br>
			<img src="{%static 'images/numpy.png' %}" style='width: 100%; height: 200px;'>
			<br>
			<br>
			<br>
			<h4>What is Numpy?</h4>
			<ul>
				<li>Numpy is considered as one of the most popular machine learning library in Python.</li>
				<li>TensorFlow and other libraries uses Numpy internally for performing multiple operations on Tensors. Array interface is the best and the most important feature of Numpy.</li>
			</ul>
			<br>
			<h4>Features of Numpy</h4>
			<ul>
				<li><b>Interactive :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Numpy is very interactive and easy to use.
				</p>
				<li><b>Mathematics :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Makes complex mathematical implementations very simple.
				</p>
				<li><b>Lot of Interaction :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Widely used, hence a lot of open source contribution.Makes coding real easy and grasping the concepts is easy.
				</p>
			</ul>
			<br>
			<h4>Where Is Numpy Used?</h4>
			<ul>
				<li>This interface can be utilized for expressing images, sound waves, and other binary raw streams as an array of real numbers in N-dimensional.</li>
				<li>For implementing this library for machine learning having knowledge of Numpy is important for full stack developers.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>4.Keras</h2><br>
			<img src="{%static 'images/keras.png' %}" style='width: 100%; height: 200px;'>
			<br>
			<br>
			<br>
			<h4>What is Keras?</h4>
			<ul>
				<li>Keras is considered as one of the coolest machine learning libraries in Python. It provides an easier mechanism to express neural networks. Keras also provides some of the best utilities for compiling models, processing data-sets, visualization of graphs, and much more.</li>
				<li>In the backend, Keras uses either Theano or TensorFlow internally. Some of the most popular neural networks like CNTK can also be used. Keras is comparatively slow when we compare it with other machine learning libraries. Because it creates a computational graph by using back-end infrastructure and then makes use of it to perform operations. All the models in Keras are portable.</li>
			</ul>
			<br>
			<h4>Features of Keras</h4>
			<ul>
				<li><b>Support all Models :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Keras supports almost all the models of a neural network – fully connected, convolutional, pooling, recurrent, embedding, etc. Furthermore, these models can be combined to build more complex models.
				</p>
				<li><b>Modular :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Keras, being modular in nature,  is incredibly expressive, flexible, and apt for innovative research.
				</p>
				<li><b>Easy to Explore :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Keras is a completely Python-based framework, which makes it easy to debug and explore.
				</p>
			</ul>
			<br>
			<h4>Where Is Keras Used?</h4>
			<ul>
				<li>You are already constantly interacting with features built with Keras — it is in use at Netflix, Uber, Yelp, Instacart, Zocdoc, Square, and many others. It is especially popular among startups that place deep learning at the core of their products.</li>
				<li>Keras contains numerous implementations of commonly used neural network building blocks such as layers, objectives, activation functions, optimizers and a host of tools to make working with image and text data easier. </li>
				<li>Keras is also a favorite among deep learning researchers, coming in at #2. Keras has also been adopted by researchers at large scientific organizations, in partic,ular CERN and NASA.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>5.PyTorch</h2><br>
			<img src="{%static 'images/pytorch.png' %}" style='width: 100%; height: 100%;'>
			<br>
			<br>
			<br>
			<h4>What is PyTorch?</h4>
			<ul>
				<li>PyTorch is the largest machine learning library that allow developers to perform tensor computations wan ith acceleration of GPU, creates dynamic computational graphs, and calculate gradients automatically. Other than this, PyTorch offers rich APIs for solving application issues related to neural networks.</li>
				<li>This machine learning library is based on Torch, which is an open source machine library implemented in C with a wrapper in Lua..</li>
				<li>This machine library in Python was introduced in 2017, and since its inception, the library is gaining popularity and attracting an increasing number of machine learning developers.</li>
			</ul>
			<br>
			<h4>Features of PyTorch</h4>
			<ul>
				<li><b>Hybrid Front-End :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					A new hybrid front-end provides ease-of-use and flexibility in eager mode, while seamlessly transitioning to graph mode for speed, optimization, and functionality in C++ runtime environments.
				</p>
				<li><b>Distributed Training :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Optimize performance in both research and production by taking advantage of native support for asynchronous execution of collective operations and peer-to-peer communication that is accessible from Python and C++.
				</p>
				<li><b>Libraries And Tools :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					An active community of researchers and developers have built a rich ecosystem of tools and libraries for extending PyTorch and supporting development in areas from computer vision to reinforcement learning.
				</p>
			</ul>
			<br>
			<h4>Where Is PyTorch Used?</h4>
			<ul>
				<li>PyTorch is primarily used for applications such as natural language processing.It is primarily developed by Facebook’s artificial-intelligence research group and Uber’s “Pyro” software for probabilistic programming is built on it.</li>
				<li>PyTorch is outperforming TensorFlow in multiple ways and it is gaining a lot of attention in the recent days.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>6.LightGBM</h2><br>
			<img src="{%static 'images/lightgbm.png' %}" style='width: 100%; height: 200px;'>
			<br>
			<br>
			<br>
			<h4>What is LightGBM?</h4>
			<ul>
				<li>Gradient Boosting is one of the best and most popular machine learning library, which helps developers in building new algorithms by using redefined elementary models and namely decision trees. Therefore, there are special libraries which are designed for fast and efficient implementation of this method.</li>
				<li>These libraries are LightGBM, XGBoost, and CatBoost. All these libraries are competitors that helps in solving a common problem and can be utilized in almost the similar manner.</li>
			</ul>
			<br>
			<h4>Features of LightGBM</h4>
			<ul>
				<li><b>Efficiency :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Very fast computation ensures high production efficiency.Intuitive, hence makes it user friendly.
				</p>
				<li><b>Fast :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Faster training than many other deep learning libraries.Will not produce errors when you consider NaN values and other canonical values.
				</p>
				<li><b>Large Community :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Needless to say, there already is a large team of software engineers who work on stability improvements continuously.
				</p>
			</ul>
			<br>
			<h4>Where Is LightGBM Used?</h4>
			<ul>
				<li>These library provides provide highly scalable, optimized, and fast implementations of gradient boosting, which makes it popular among machine learning developers. Because most of the machine learning full stack developers won machine learning competitions by using these algorithms.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>7.Eli5</h2><br>
			<img src="{%static 'images/eli5.png' %}" class="img-fluid d-block mx-auto">
			<br>
			<br>
			<br>
			<h4>What is Eli5?</h4>
			<ul>
				<li>Most often the results of machine learning model predictions are not accurate, and Eli5 machine learning library built in Python helps in overcoming this challenge. It is a combination of visualization and debug all the machine learning models and track all working steps of an algorithm.</li>
			</ul>
			<br>
			<h4>Features of Eli5</h4>
			<ul>
				<li>Moreover, Eli5 supports wother libraries XGBoost, lightning, scikit-learn, and sklearn-crfsuite libraries. All the above-mentioned libraries can be used to perform different tasks using each one of them.</li>
				</ul>
			<br>
			<h4>Where Is Eli5 Used?</h4>
			<ul>
				<li>Mathematical applications which requires a lot of computation in a short time.Eli5 plays a vital role where there are dependencies with other Python packages.Legacy applications and implementing newer methodologies in various fields.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>8.Scipy</h2><br>
			<img src="{%static 'images/scipy.png' %}" style='width: 100%; height: 200px;'>
			<br>
			<br>
			<br>
			<h4>What is Scipy?</h4>
			<ul>
				<li>SciPy is a machine learning library for application developers and engineers. However, you still need to know the difference between SciPy library and SciPy stack. SciPy library contains modules for optimization, linear algebra, integration, and statistics.</li>
			</ul>
			<br>
			<h4>Features of Scipy</h4>
			<ul>
				<li><b>Using Numpy :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					The main feature of SciPy library is that it is developed using NumPy, and its array makes the most use of NumPy.All the functions in all submodules of SciPy are well documented.
				</p>
				<li><b>Flexible :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					One of the very important Scipy Features is that it is flexible in its operability, meaning it has modularity and the parts of it which you want to make standalone, it offers you that option.
				</p>
				<li><b>Mathematics :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					In addition, SciPy provides all the efficient numerical routines like optimization, numerical integration, and many others using its specific submodules.
				</p>
			</ul>
			<br>
			<h4>Where Is Scipy Used?</h4>
			<ul>
				<li>SciPy is a library that uses NumPy for the purpose of solving mathematical functions. SciPy uses NumPy arrays as the basic data structure, and comes with modules for various commonly used tasks in scientific programming.</li>
				<li>Tasks including linear algebra, integration (calculus), ordinary differential equation solving and signal processing are handled easily by SciPy.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>9.Theano</h2><br>
			<img src="{%static 'images/theano.png' %}" style='width: 100%; height: 100%;'>
			<br>
			<br>
			<br>
			<h4>What is Theano?</h4>
			<ul>
				<li>Theano is a computational framework machine learning library in Python for computing multidimensional arrays. Theano works similar to TensorFlow, but it not as efficient as TensorFlow. Because of its inability to fit into production environments.</li>
				<li>Moreover, Theano can also be used on a distributed or parallel environments just similar to TensorFlow.</li>
			</ul>
			<br>
			<h4>Features of Theano</h4>
			<ul>
				<li><b>Transparent use of a GPU :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Perform data-intensive computations much faster than on a CPU.Theano does your derivatives for functions with one or many inputs.
				</p>
				<li><b>Speed and stability optimizations :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Get the right answer for log(1+x) even when x is very tiny. This is just one of the examples to show the stability of Theano.
				</p>
				<li><b>Dynamic C code generation :</b></li>
				<p style="margin-left: 40px; font-weight: 450;">
					Evaluate expressions faster than ever before, thereby, increasing efficiency by a lot.Detect and diagnose multiple types of errors and ambiguities in the model.
				</p>
			</ul>
			<br>
			<h4>Where Is Theano Used?</h4>
			<ul>
				<li>The actual syntax of Theano expressions is symbolic, which can be off putting to beginners used to normal software development. Specifically, expression are defined in the abstract sense, compiled and later actually used to make calculations.</li>
				<li>It was specifically designed to handle the types of computation required for large neural network algorithms used in Deep Learning. It was one of the first libraries of its kind (development started in 2007) and is considered an industry standard for Deep Learning research and development.</li>
				<li>Theano is being used in multiple neural network projects today and the popularity of Theano is only growing with time.</li>
			</ul>

			<br>
			<div style='border:0.5px solid black'></div>
			<br>

			<h2>10.Pandas</h2><br>
			<img src="{%static 'images/pandas.png' %}" style='width: 100%; height: 200px;'>
			<br>
			<br>
			<br>
			<h4>What is Pandas?</h4>
			<ul>
				<li>Pandas is a machine learning library in Python that provides data structures of high-level and a wide variety of tools for analysis. One of the great feature of this library is the ability to translate complex operations with data using one or two commands. Pandas have so many inbuilt methods for grouping, combining data, and filtering, as well as time-series functionality.</li>
				<li>All these are followed by outstanding speed indicators.</li>
			</ul>
			<br>
			<h4>Features of Pandas</h4>
			<ul>
				<li>Pandas make sure that the entire process of manipulating data will be easier. Support for operations such as Re-indexing, Iteration, Sorting, Aggregations, Concatenations and Visualizations are among the feature highlights of Pandas.</li>
			</ul>
			<br>
			<h4>Where Is Pandas Used?</h4>
			<ul>
				<li>Currently, there are fewer releases of pandas library which includes hundred of new features, bug fixes, enhancements, and changes in API. The improvements in pandas regards its ability to group and sort data, select best suited output for the apply method, and provides support for performing custom types operations.</li>
				<li>Data Analysis among everything else takes the highlight when it comes to usage of Pandas. But, Pandas when used with other libraries and tools ensure high functionality and good amount of flexibility.</li>
			</ul>
			<br>
			<div style='border:0.8px solid black'></div>
			<br>

			<h2>Other Popular Python Libraries</h2><br>
			<ul>
				<li>Scrapy</li>
				<li>Matplotlib</li>
				<li>Tkinter</li>
				<li>Requests</li>
				<li>Django</li>
				<li>Pygame</li>
				<li>Apache Spark</li>
				<li>Open CV</li>
				<li>Selenium</li>
				<li>Zappa</li>
				<li>Dash</li>
				<li>Beautiful Soup</li>
				<li>Flask</li>
				<li>Pyramid</li>
				<li>Arrow</li>
			</ul>

			{% if user.is_authenticated %}
    			<div class='row' style='text-align: center;'>
      				<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        				<h2>Comments</h2>
        				<form method="post">
          					<textarea name='comments' placeholder="your thoughts about it..." id='textarea'></textarea>
          					<br>
          					<a class='btn btn-danger navbtn'><b>Submit</b></a>
        				</form>
      				</div>
    			</div>
    		{% endif %}

		</div>
	</div>

	<!-- Footer -->

	<div class="container-fluid footer">
  		<div class="row">
    		<div class='col-lg-6 col-md-6'>
      			<h4 style='text-shadow: 2px 2px #233237; text-align:center; margin-top: 3px;'>Contact Us</h4>
      			<div class="social_icon">
        			<a href="#" title="Facebook" class='icons'><i class='fa fa-facebook'></i></a>
        			<a href="#" title="Instagram" class='icons'><i class='fa fa-instagram'></i></a>
        			<a href="#" title="WhatsApp" class='icons'><i class='fa fa-whatsapp'></i></a>
        			<a href="#" title="Twitter" class='icons'><i class='fa fa-twitter'></i></a>
        			<a href="#" title='Google' class='icons'><i class='fa fa-google'></i></a>
      			</div><br>
      			<div class='contact_info'>
        			<h6><i class="fa fa-map"></i> Address -<span style="font-weight: 300;"> 10 Satya Sai Colony Nahar Sayyad Road Mandsaur M.P 458001</span></h6>
        			<h6><i class="fa fa-phone"></i> Mobile -<span style="font-weight: 300;"> 07987051968</span></h6>
        			<h6><i class="fa fa-envelope"></i> Email -<span style="font-weight: 300;"> talibhqureshi@gmail.com</span></h6>
          		</div>
      		</div>
      		<div class="col-lg-6 col-md-6">
        		<form class="form-inline footer_search">
          			<input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
          			<button class="btn btn-success my-2 my-sm-0 navbtn" type="submit" id='search_btn'><b>Search</b></button>
        		</form>
      		</div>
    	</div>
    	<br>
    	<div style='text-align: center; font-size: 14px; font-weight: 400;'>&copy Powered By PythonProgrammer.com</div>
  </div>

</body>
</html>
