<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- TITLE BAR -->
	<title>Login | Pythonprogrammer</title>
	<link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.png' %}">

	<!-- META DATA -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Talib Qureshi">

	<!-- Bootstarp -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="  sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  	<!-- CDN -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Germania+One" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">

  <style type="text/css">
    .community_div{
      background-image: url("{%static 'images/community.jpg' %}");
    }
    .signup_login{
      background-image: url("{%static 'images/signup_login_bg.png' %}");
    }
  </style>
</head>

<body class="animated slideInUp">
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
       <img src="{%static 'images/favicon.png' %}" width="50" height="50" alt="PP"><span class='site_name'>PythonProgrammer</span>
    </a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 	aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
    	</button>
    	<!-- NAV BAR-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class='nav-link' href="{%url 'home' %}"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:libraries' %}"><b>Libraries</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:signup' %}"><b>Signup</b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><b>Login</b></a>
            </li>
          </ul>
        </div>
	</nav>
	<div class="container">
		<div class='row'>
        	<div class="col-lg-12 col-md-12 community_div">
          		<h1 class='community'>!!Welcome in The Python Programmer Community!!</h1>
        	</div>
    	</div>

		<div class='jumbotron'>
        	{% if messages %}
          		{% for message in messages %}
              		<div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                		{{ message }}
                		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                		<span aria-hidden="true">&times;</span></button>
              		</div>
                 {% endfor %}
            {% endif %}

			<div class="row">
				<div class='col-lg-3 col-md-3 col-sm-0 col-xs-0'>
				</div>

				<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 signup_login text-center'>
					<h2 style='text-decoration: underline;'>Open Your New World</h2>
					<br>
					<form method="post">
						{% csrf_token %}
						<div class='form-group'>
							<label for='username'><b>Username:</b></label>
							{{form.username}}
						</div>

						<div class="form-group">
							<label for='password'><b>Password:</b></label>
							{{form.password}}
						</div>
						<br>
						<input type="submit" name="login" class="btn btn-info btn-block navbtn" value="Login">
						<br>
						<a href="{%url 'password_reset' %}">Forget Password?</a>
						<br>
						<small class="text-muted">New User?&nbsp&nbsp<a href="{%url 'pythonprogrammer:signup' %}">Signup</a></small>
					</form>
				</div>

				<div class='col-lg-3 col-md-3 col-sm-0 col-xs-0'>
				</div>
				</div>
		</div>
	</div>

	<!-- Footer -->
	    <div class="container-fluid footer">
  		<div class="row">
    		<div class='col-lg-6 col-md-6'>
      			<h4 style='text-shadow: 2px 2px #233237; text-align:center; margin-top: 3px;'>Contact Us</h4>
      			<div class="social_icon">
        			<a href="#" title="Facebook" class='icons'><i class='fa fa-facebook'></i></a>
        			<a href="#" title="Instagram" class='icons'><i class='fa fa-instagram'></i></a>
        			<a href="#" title="WhatsApp" class='icons'><i class='fa fa-whatsapp'></i></a>
        			<a href="#" title="Twitter" class='icons'><i class='fa fa-twitter'></i></a>
        			<a href="#" title='Google' class='icons'><i class='fa fa-google'></i></a>
      			</div><br>
      			<div class='contact_info'>
        			<h6><i class="fa fa-map"></i> Address -<span style="font-weight: 300;"> 10 Satya Sai Colony Nahar Sayyad Road Mandsaur M.P 458001</span></h6>
        			<h6><i class="fa fa-phone"></i> Mobile -<span style="font-weight: 300;"> 07987051968</span></h6>
        			<h6><i class="fa fa-envelope"></i> Email -<span style="font-weight: 300;"> talibhqureshi@gmail.com</span></h6>
          		</div>
      		</div>
      		<div class="col-lg-6 col-md-6">
        		<form class="form-inline footer_search">
          			<input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
          			<button class="btn btn-success my-2 my-sm-0 navbtn" type="submit" id='search_btn'><b>Search</b></button>
        		</form>
      		</div>
    	</div>
    	<br>
    	<div style='text-align: center; font-size: 14px; font-weight: 400;'>&copy Powered By PythonProgrammer.com</div>
  	</div>

</body>
</html>
