<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- TITLE BAR -->
	<title>Reset Password</title>
	<link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.png' %}">

	<!-- META DATA -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Talib Qureshi">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- CDN -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Germania+One" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
</head>

<body class="animated slideInUp">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
       <img src="{%static 'images/favicon.png' %}" width="50" height="50" alt="PP"><span class='site_name'>PythonProgrammer</span>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- NAV BAR-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'home' %}"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:libraries' %}"><b>Libraries</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:signup' %}"><b>Signup</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'pythonprogrammer:user_login' %}"><b>Login</b></a>
            </li>
          </ul>
        </div>
  </nav>

	<div class="container">
    <div class='jumbotron'>
			<div class="alert alert-info">
        An Email has been sent with instructions to reset your password
      </div>
		</div>
	</div>

  <!-- Footer -->
	<div class="container-fluid footer">
      <div class="row">
        <div class='col-lg-6 col-md-6'>
            <h4 style='text-shadow: 2px 2px #233237; text-align:center; margin-top: 3px;'>Contact Us</h4>
            <div class="social_icon">
              <a href="#" title="Facebook" class='icons'><i class='fa fa-facebook'></i></a>
              <a href="#" title="Instagram" class='icons'><i class='fa fa-instagram'></i></a>
              <a href="#" title="WhatsApp" class='icons'><i class='fa fa-whatsapp'></i></a>
              <a href="#" title="Twitter" class='icons'><i class='fa fa-twitter'></i></a>
              <a href="#" title='Google' class='icons'><i class='fa fa-google'></i></a>
            </div><br>
            <div class='contact_info'>
              <h6><i class="fa fa-map"></i> Address -<span style="font-weight: 300;"> 10 Satya Sai Colony Nahar Sayyad Road Mandsaur M.P 458001</span></h6>
              <h6><i class="fa fa-phone"></i> Mobile -<span style="font-weight: 300;"> 07987051968</span></h6>
              <h6><i class="fa fa-envelope"></i> Email -<span style="font-weight: 300;"> talibhqureshi@gmail.com</span></h6>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <form class="form-inline footer_search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0 navbtn" type="submit" id='search_btn'><b>Search</b></button>
            </form>
          </div>
      </div>
      <br>
      <div style='text-align: center; font-size: 14px; font-weight: 400;'>&copy Powered By PythonProgrammer.com</div>
    </div>

</body>
</html>
