<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- TITLE BAR -->
	<title>Signup | PythonProgrammer</title>
	<link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.png' %}">

	<!-- META DATA -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Talib Qureshi">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="  sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- CDN -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bitter|Germania+One" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">

	<style type="text/css">
    .community_div{
      background-image: url("{%static 'images/community.jpg' %}");
    }
    .signup_login{
    	background-image: url("{%static 'images/signup_login_bg.png' %}");
    }
  </style>
</head>

<body class="animated slideInUp">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
       <img src="{%static 'images/favicon.png' %}" width="50" height="50" alt="PP"><span class='site_name'>PythonProgrammer</span>
    </a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 	aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
        	<ul class="navbar-nav ml-auto">
        		<li class="nav-item">
                	<a class='nav-link' href="{%url 'home' %}"><b>Home</b></a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link" href="{%url 'pythonprogrammer:libraries' %}"><b>Libraries</b></a>
            	</li>
	            <li class="nav-item active">
	                <a class="nav-link" href="#"><b>Signup</b></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{%url 'pythonprogrammer:user_login' %}"><b>Login</b></a>
	            </li>
          	</ul>
        </div>
	</nav>

	<div class="container">
		<div class='row'>
        	<div class="col-lg-12 col-md-12 community_div">
          		<h1 class='community'>!!Welcome in The Python Programmer Community!!</h1>
        	</div>
    	</div>

		<div class='jumbotron'>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h1 class="text-warning text-center lgs">Let's Get <br>Started</h1>
				</div>

				<div class='col-lg-6 col-md-6 signup_login text-center'>
					<h2 style='text-decoration: underline;'>Signup To Begin Your Journey</h2>
					<br>
					<form method="post">
            		{% csrf_token %}
						<div class="form-group">
							<label for="name"><b>Username:</b></label><br>
							{{form.username}}
							{{form.username.errors}}
							<!-- <small class="text-muted">username must be alphanumeric (with atleast 3 digit) and length between 6-12</small> -->
						</div>

						<div class="form-group">
							<label for="first_name"><b>First Name:</b></label><br>
							{{form.first_name}}
							{{form.first_name.errors}}
						</div>

						<div class="form-group">
							<label for="last_name"><b>Last Name:</b></label><br>
							{{form.last_name}}
							{{form.last_name.errors}}
						</div>

						<div class="form-group">
							<label for="mail"><b>Email:</b></label><br>
							{{form.email}}
							{{form.email.errors}}
						</div>

						<div class="form-group">
							<label for="pwd"><b>Password:</b></label><br>
							{{form.password}}
							{{form.password.errors}}
							<!-- <small class="text-muted">password should have length between 8-15 and contain atleast one digit & one symbol</small> -->
						</div>

						<div class="form-group">
							<label for="cfpwd"><b>Confirm Password:</b></label><br>
							{{form.cnfpassword}}
							{{form.cnfpassword.errors}}
						</div>
						<br>
						<input type="submit" name="signup" class="btn btn-info btn-block navbtn" value="Signup">
						<br><br>
						<small class="text-muted">Already have an account? &nbsp<a href="{%url 'pythonprogrammer:user_login' %}">Login</a></small>
					</form>
				</div>
			</div>
		</div>
    </div>

    <!-- Footer -->
    <div class="container-fluid footer">
  		<div class="row">
    		<div class='col-lg-6 col-md-6'>
      			<h4 style='text-shadow: 2px 2px #233237; text-align:center; margin-top: 3px;'>Contact Us</h4>
      			<div class="social_icon">
        			<a href="#" title="Facebook" class='icons'><i class='fa fa-facebook'></i></a>
        			<a href="#" title="Instagram" class='icons'><i class='fa fa-instagram'></i></a>
        			<a href="#" title="WhatsApp" class='icons'><i class='fa fa-whatsapp'></i></a>
        			<a href="#" title="Twitter" class='icons'><i class='fa fa-twitter'></i></a>
        			<a href="#" title='Google' class='icons'><i class='fa fa-google'></i></a>
      			</div><br>
      			<div class='contact_info'>
        			<h6><i class="fa fa-map"></i> Address -<span style="font-weight: 300;"> 10 Satya Sai Colony Nahar Sayyad Road Mandsaur M.P 458001</span></h6>
        			<h6><i class="fa fa-phone"></i> Mobile -<span style="font-weight: 300;"> 07987051968</span></h6>
        			<h6><i class="fa fa-envelope"></i> Email -<span style="font-weight: 300;"> talibhqureshi@gmail.com</span></h6>
          		</div>
      		</div>
      		<div class="col-lg-6 col-md-6">
        		<form class="form-inline footer_search">
          			<input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
          			<button class="btn btn-success my-2 my-sm-0 navbtn" type="submit" id='search_btn'><b>Search</b></button>
        		</form>
      		</div>
    	</div>
    	<br>
    	<div style='text-align: center; font-size: 14px; font-weight: 400;'>&copy Powered By PythonProgrammer.com</div>
  </div>

</body>
</html>
