body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	font-family: 'Germania One', cursive;
	font-family: 'Bitter', serif;
	text-align: center;
	font-weight: 800;
}

h2{
	font-family: 'Germania One', cursive;
	font-family: 'Bitter', serif;
	font-weight: 500;
}

h4{
	font-family: 'Germania One', cursive;
	font-family: 'Bitter', serif;
	font-weight: 600;
}

p{
	font-weight: 450;
}

li{
	margin-left: 15px;
	font-weight: 450;
}

i{
	padding-left: 10px;
}

nav{
	background-color: #557A95;
	opacity:0.8;
}

.jumbotron{
	background-color: white;
}

.site_name{
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;
	font-weight: 400;
	letter-spacing: 2px;
	margin-left: 3px;
}

.community_div{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
	position: relative;
	margin-top: 3px;
}

.community{
	color: white;
	text-shadow: 1px 1px 2px black;
	font-family: 'Germania One', cursive;
	font-family: 'Bitter', serif;
	position: absolute;
	left: 6%;
	top: 40%;
}

.nav-item{
	text-align: center;
}

.navbtn{
	transition:1s;
	border:2px solid white;
	border-radius: 50px;
	text-decoration: none;
}

.monty_img{
	height: 310px;
	width: 100%;
}

.run_code{
	background-color: tomato;
	border: 2px groove black;
	border-radius: 20px;
	padding: 10px;
	padding-left: 20px;
	color: white;
}

.ide{
	color: #FFE400;
	font-weight: 600;
}

.accor_div{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #233237;
}

.fa-chevron-down,.fa-chevron-up{
    color:#233237;
    font-size: 20px;
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

#para1{
    background-color: lightgray;
    color:#233237;
    padding:5px;
}

#para2{
    background-color: lightgray;
    color:#233237;
    padding:5px;
}

#para3{
    background-color: lightgray;
    color:#233237;
    padding:5px;
}

#accor_btn1,#accor_btn2,#accor_btn3:hover{
	cursor: pointer;
}

.accor_link{
    color:blue;
}

.accor_link:hover{
    cursor: pointer;
    text-decoration: underline;
    color:blue;
}

.accor_sub{
	width: 100%;
	padding:5px;
	background-color: #557A95;
	color:#FFE400;
	border:1px solid black;
	overflow: auto;
}

.card-img-top{
	height: 250px;
}

.card-title{
	color: #233337;
	font-weight: 700;
}

.card-text{
	color: #233237;
	font-weight: 500;
}

#textarea{
	width: 100%;
	height: 100px;
	padding:10px;
}

.signup_login{
	background-image: url('images/signup_login_bg.png');
	background-size: cover;
	background-position: center;
	padding: 20px;
	border: 1px solid #557A95;
	border-radius: 20px;
	color: white;
}

.lgs{
	margin-top: 20%;
	font-size: 5em;
	font-family: 'Lobster', cursive;
}

.form-control{
	font-weight: 600;
	color: #1A1A1D;
	border-radius: 50px;
}

.footer{
	color:white;
	background-color: #557A95;
}

.social_icon{
	font-size: 28px;
}

.contact_info{
	font-size: 24px;
}

.fa-facebook:hover{
	color: #3B5998;
	transition: 1s;
}

.fa-instagram:hover{
	color:red;
	transition: 1s;
}

.fa-whatsapp:hover{
	color: #4FCE5D;
	transition: 1s;
}

.fa-twitter:hover{
	color: #38A1F3;
	transition: 1s;
}

.fa-google:hover{
	color: yellow;
	transition: 1s;
}

.footer_search{
	margin-top: 15%;
}

.icons{
	color:white;
}

@media (max-width: 500px) {
	#search_btn{
		margin: auto;
	}
	.top_card{
		margin-top: 50px;
	}
	p{
		margin-left: 0;
	}
	li{
		margin-left: 10px;
	}
	.community{
		top: 25%;
		left: 1%;
	}
	.lgs{
		margin-top: 5%;
		font-size: 4em;
	}
}

@media (min-width: 501px) and (max-width: 1100px){
	.community{
		top: 30%;
		left: 1%;
	}
	.footer_search{
		margin-top: 30%;
	}
	.monty_img{
		height: 500px;
	}
}

@media (min-width: 1150px){
	.site_name{
		font-size: 30px;
	}
}
